.about-page {
  margin: 6rem 3rem 2rem 3rem;
  color: #ffcc00;
}

.about-page span {
  color: #ffcc00;
}

.about-page img {
  width: 10rem;
  height: 10rem;
}

.about-page a {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-page > div {
  display: flex;
  flex-wrap: wrap;
}

.about-page p {
  margin-top: 2rem;
}

.about-page p:last-child {
  text-align: right;
}
