.about-page {
  margin: 6rem 3rem 2rem 3rem;
  color: #310055;
}

.about-page img {
  width: 6rem;
  height: 6rem;
}

.about-page a {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-page > div {
  display: flex;
}
