* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a:-webkit-any-link {
  text-decoration: none;
  /*   color: white;
  cursor: pointer; */
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #54318c;
}

@media (min-width: 1680px) {
  .cards-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 1066px) and (max-width: 1680px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 720px) and (max-width: 1065px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 420px) and (max-width: 719px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
@media (min-width: 1px) and (max-width: 420px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
