* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  overflow-x: hidden;
  box-sizing: border-box;
}

*,
*:after,
*::before {
  box-sizing: inherit;
}

a:-webkit-any-link {
  text-decoration: none;
  /*   color: white;
  cursor: pointer; */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #54318c;
}

@media (min-width: 1680px) {
  .cards-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "a a a a a a";
  }
  .a {
    grid-area: a;
  }
}
@media (min-width: 1066px) and (max-width: 1680px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "a a a a";
  }
  .a {
    grid-area: a;
  }
}
@media (min-width: 720px) and (max-width: 1065px) {
  .cards-container {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "a a a";
  }
  .a {
    grid-area: a;
  }
}
@media (min-width: 421px) and (max-width: 719px) {
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: "a a";
  }
  .a {
    grid-area: a;
  }
}
@media (min-width: 1px) and (max-width: 420px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}

@media (min-width: 612px) {
  .current-route svg:first-child {
    transform: translate(1rem, -1rem);
  }
  .about svg:first-child {
    transform: translate(0.7rem, -1rem);
  }
  .home svg:first-child {
    transform: translate(1.2rem, -1rem);
  }
  .current-route svg:last-child {
    transform: translate(-2.3rem, -2.7rem);
  }
  .inputWithButton {
    width: 220px;
  }
  .route {
    display: inline-block;
  }
  .route-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
  }

  .title-for-mobile {
    display: none;
  }
  .title-for-desktop {
    display: block;
  }
  .details-info {
    height: 70vh;
  }
  .details-container img {
    max-width: 60%;
    max-height: 100%;
    height: auto;
    margin-left: 2rem;
    border-radius: 10px;
    box-shadow: 8px 8px 5px -1px #320055b8;
  }
}

@media (max-width: 611px) {
  .inputWithButton {
    width: 120px;
  }
  .route {
    display: none;
  }
  .one-route-container {
    align-items: center;
    width: 4rem;
    justify-content: center;
  }
  .fixed {
    justify-content: space-evenly;
  }
  .current-route {
    width: 3rem;
  }
  .current-route svg:first-child {
    transform: translate(0, 1.3rem) scalex(0.6);
  }
  .current-route svg:last-child {
    transform: translate(1.4rem, -3.1rem);
  }
  .home .current-route svg:last-child {
    transform: translate(1.3rem, -3.1rem);
  }
  .about .current-route svg:last-child {
    transform: translate(1.8rem, -3.1rem);
  }

  .one-route-container:hover .route-icon > svg {
    transition: transform 0.2s ease-out;
    transform: scale(1.3);
  }
  .about-to-move {
    transform: translatex(-0.3rem);
  }

  .title-for-mobile {
    width: 100%;
    text-align: center;
    display: block;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    border-bottom-color: #ffcc00;
    border-radius: 5px;
    box-shadow: 0 4px 0 -1px #1e0034e7;
  }
  .title-for-mobile h1 {
    margin-bottom: 0.5rem;
  }
  .title-for-desktop {
    display: none;
  }
  .details-container {
    flex-direction: column;
  }
  .details-info {
    height: fit-content;
    margin-top: 2rem;
  }
  .details-container img {
    /* object-fit: contain; */
    max-width: 100%;
    max-height: 800%;
    height: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    border-radius: 10px;
    box-shadow: 8px 8px 5px -1px #320055b8;
    margin-top: 1.5rem;
  }
}

@media (min-width: 851px) {
  .create-form {
    grid-template-columns: 20% 40% 15% 25%;
    grid-template-areas:
      "a b c d"
      "e f c d"
      "g h c d"
      "i j c d"
      "k l c d"
      "m n o p";
  }
  .c {
    grid-area: c;
  }
  .d {
    grid-area: d;
  }
  .p {
    grid-area: p;
  }
}

@media (max-width: 850px) {
  .create-form {
    grid-template-columns: 40% 60%;
    grid-template-areas:
      "a b"
      "c d"
      "e f"
      "g h"
      "i j"
      "k l"
      "m n"
      "p p";
  }

  .p {
    grid-area: p;
  }
  .buttons-create-container {
    margin-top: 1.5rem;
    justify-self: center;
  }
  .create-content-container {
    margin-bottom: 2rem;
  }

  .d {
    margin-top: 2rem;
  }
}

@media (max-width: 530px) {
  .input-without-metric {
    width: 170px;
  }
  .input-with-metric {
    width: 120px;
  }
  /*  .create-container {
    background-color: #e7a8f0;
  } */
}

@media (max-height: 700px) {
  .error-search-container > h1 {
    color: #ffcc00;
    text-shadow: 6px 6px 3px #15002476;
    text-align: center;
    font-size: 1.5rem;
  }
}

@media (min-width: 469px) {
  .logo {
    font-size: 3rem;
  }
  .route-icon {
    font-size: 2rem;
  }
  .current-route svg:last-child {
    font-size: 2rem;
  }
  .inputWithButton > input {
    width: 100%;
  }
  .inputWithButton > div {
    right: 0;
  }
  .search-svg-non-functional {
    display: none;
  }
  .showed-in-mobile {
    display: none;
  }
  .dumb-ref {
    padding-top: 9rem;
  }
  .filter-container {
    height: 4rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
}

@media (max-width: 470px) {
  .logo {
    font-size: 2.5rem;
    margin-left: 0.5rem;
  }
  .route-icon {
    font-size: 1.5rem;
  }
  .one-route-container {
    width: 3rem;
  }
  /* .current-route {
    width: 3rem;
  } */
  .current-route svg:first-child {
    transform: translate(0, 1rem) scalex(0.4);
  }
  .current-route svg:last-child {
    transform: translate(1.6rem, -3.1rem);
    font-size: 1.5rem;
  }
  .home .current-route svg:last-child {
    transform: translate(1.55rem, -3.1rem);
  }
  .about .current-route svg:last-child {
    transform: translate(1.95rem, -3.1rem);
  }
  .inputWithButton > input {
    width: 90%;
  }
  .inputWithButton > div {
    right: 8px;
  }
  .inputWithButton > input::placeholder {
    color: transparent;
  }
  .search-svg-non-functional {
    transform: translateX(-1.5rem);
  }
  .dumb-ref {
    padding-top: 10rem;
  }
  .filter-container {
    height: 6rem;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
      "a b"
      "a c";
  }
  .a {
    grid-area: a;
  }
  .b {
    grid-area: b;
  }
  .c {
    grid-area: c;
  }
  .check-container {
    justify-content: space-evenly;
    margin-left: 0.5rem;
  }
  .order-container {
    flex-direction: row;
  }
  .temp-filter-container {
    flex-direction: row;
  }
}

@media (max-width: 1030px) {
  .check-container {
    flex-direction: column;
  }
}

@media (min-width: 470px) and (max-width: 610px) {
  .filter-container > div {
    flex-direction: column;
  }
}
