* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

html {
	overflow-x: hidden;
}

@media (min-width: 1066px) and (max-width: 1680px) {
}

@media (min-width: 720px) and (max-width: 1065px) {
}
@media (min-width: 420px) and (max-width: 719px) {
}
@media (min-width: 1px) and (max-width: 420px) {
}
