.landing-container {
  width: 100vw;
  height: 100vh;
  background-image: url("../../Assets/Perritos.jpg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.boton-start {
  margin-bottom: 40px;
}

.title {
  margin-top: 40px;
}
