.cards-pag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: grid;
  justify-items: center;
  align-items: center;
}

.dumb-ref {
  padding-top: 9rem;
}

.dumb-for-error {
  margin-top: 6rem;
}
