.cards-pag-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 9rem;
  align-items: center;
}

.cards-container {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
}
