@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap");

.card {
  width: 90%;
  height: 90%;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 10px 10px 10px -1px #320055b8;
}

.card:hover {
  box-shadow: 20px 20px 10px -1px #320055db;
}

.data-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 0.5em;
  text-decoration: none;
  background: #ffeb99;
  padding: 10px;
  box-shadow: 0 1.5em 2.5em -0.5em rgba(0, 0, 0, 0.1);
  transition: transform 0.45s ease, background 0.45s ease;
  justify-content: space-between;
}

.data-card img {
  object-fit: contain;
  height: 200px;
  max-height: 70%;
  max-width: 100%;
}

.data-card p {
  /* display: none; */
  opacity: 0;
  color: #660099;
  font-weight: 600;
  line-height: 1.8;
  transform: translateY(-1em);
  transition: opacity 0.45s ease, transform 0.5s ease;
  align-self: center;
}
.link-text {
  display: block;
  color: #753bbd;
  font-size: 1.125em;
  font-weight: 600;
  line-height: 1.2;
  transition: color 0.45s ease;
  border-bottom: 2px solid #753bbd;
  text-align: center;
  margin-bottom: 5px;
}
.data-card p svg {
  margin-left: 0.5em;
  transition: transform 0.6s ease;
}

.data-card:hover {
  background: #ffcc00;
  transform: scale(1.02);
}

.data-card:hover p {
  opacity: 1;
  transform: none;
  display: block;
}
.data-card:hover .link-text {
  color: #660099;
  border-bottom-color: #a754c4;
}
.data-card:hover p svg {
  animation: point 1.25s infinite alternate;
  color: #a754c4;
}

@keyframes point {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0.125em);
  }
}
