.filter-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 4rem;
  transition: 0.3s ease-in-out;
  border-bottom: 1px solid #3100551a;
  box-shadow: 0 2px 5px -1px #31005514;
  z-index: 90;
  color: #ffcc00;
  background-color: #ab51e3;
}
.filter-container label {
  margin-right: 0.3rem;
}
.check-container {
  display: flex;
  /* flex-direction: column; */
}
.order-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
}

.hidden {
  height: 4rem;
  width: 100%;
  border-bottom: 1px solid #3100551a;
  box-shadow: 0 2px 5px -1px #31005514;
  /* position: fixed; */
  top: 0;
  transition: 0.3s ease-in-out;
}

.temp-filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-temp-container {
  position: relative;
  width: 170px;
  display: flex;
  align-items: center;
}

.input-temp-container > input {
  border-radius: 8px;
  width: 100%;
  height: 2rem;
  border-color: #310055;
  background-color: #fff4c7;
  color: #310055;
}

.input-temp-container > div {
  position: absolute;
  right: 0;
  margin-right: 1.5rem;
  display: flex;
}

.checked {
  color: #6833a8;
}

.check-container label {
  cursor: pointer;
}

.check-container input[type="checkbox"] {
  filter: hue-rotate(190deg) brightness(1.4);
}

.x-mark {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.order-container > select {
  cursor: pointer;
  background-color: #fff4c7;
  color: #310055;
  border-radius: 5px;
  border: 2px solid #310055;
}
