.page-button,
.pagination-arrow {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  align-items: center;
}

.pagination-arrow > span {
  font-size: 1.1rem;
}
.first-page-arrow {
  margin-right: 0.4rem;
}
.first-page-arrow > span {
  margin-right: 0.4rem;
}
.last-page-arrow {
  margin-left: 0.4rem;
}
.last-page-arrow > span {
  margin-left: 0.4rem;
}
@media (min-width: 1001px) {
  .pagination-container {
    width: 70%;
  }
}

@media (max-width: 1000px) {
  .pagination-container {
    width: 100%;
  }
}

.current-page > div {
  font-size: 1.2rem;
  color: purple;
  position: absolute;
  top: 30%;
  left: 1rem;
  right: 1rem;
}

.page-button {
  font-size: 1.1rem;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffeb99;
  transition: filter 0.3s ease-out;
}

.pagination-arrow {
  font-size: 2rem;
  color: #ffeb99;
  transition: filter 0.3s ease-out;
}
.pagination-arrow svg {
  pointer-events: none;
}

.pagination-container {
  /* border: 1px solid red; */
  max-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.current-page svg {
  filter: drop-shadow(3px 5px 2px #320055b8);
  font-size: 3rem;
  transform: translateY(-0.5rem);
}

.current-page {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: default;
  outline: inherit;
  font-size: 2.5rem;
  color: #fdc500;
  display: flex;
  position: relative;
}

.pagination-arrow:hover,
.page-button:hover {
  color: #ffcc00;
  filter: drop-shadow(3px 5px 2px #320055b8);
  transition: transform 0.2s ease-out;
  transform: scale(1.3);
}
