.footer {
  background-color: #753bbd;
  height: 3rem;
  background-image: url("../Assets/paw-trail-right.png");
  background-repeat: repeat-x;
  background-size: auto 3rem;
  margin-top: auto;
}

.img-footer {
  background-color: #753bbd;
  height: 3rem;
}
