.modal {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

.modal-container {
  position: relative;
  padding: 1rem;
  min-width: 320px;
  max-width: 480px;
  min-height: 200px;
  max-height: 600px;
  overflow-y: auto;
  background-color: #fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.success {
  border: 5px solid #40f99b;
  background-color: #c2ffe1;
}
.warn {
  border: 5px solid #f9c80e;
  background-color: #feecab;
}
.error {
  border: 5px solid #ea3546;
  background-color: #eda2aa;
}

.modal-close {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}

.modal.is-open {
  display: flex;
}

.x-mark {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.type-svg {
  font-size: 2.5rem;
}
