.nav-container {
  width: 100%;
  height: 4rem;
  z-index: 100;
}

.fixed {
  background-color: #753bbd;
  position: fixed;
  display: flex;
  justify-content: space-around;
  align-items: center;
  top: 0;
}

.logo {
  font-size: 3rem;
  color: #ffcc00;
}

.route {
  color: #ffeb99;
  display: inline-block;
  padding: 1rem;
}

.menu-routes {
  display: flex;
  height: 100%;
}

.one-route-container {
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 1.3rem;
}

.route-icon {
  color: #ffcc00;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-100%);
}

.one-route-container span {
  transition: transform 0.2s ease-out;
}

.one-route-container:hover .route {
  transform: translateY(100%);
}

.one-route-container:hover .route-icon {
  transform: none;
}

.current-route svg:first-child {
  color: #f72585;
  font-size: 6.4rem;
  transform: translate(1rem, -1rem);
}
.current-route svg:last-child {
  color: #ffcc00;
  font-size: 2rem;
  transform: translate(-2.3rem, -2.7rem);
}

.over {
  overflow: visible;
  cursor: default;
}
.over a {
  cursor: default;
}
.about svg:first-child {
  transform: translate(0.7rem, -1rem);
}
.home svg:first-child {
  transform: translate(1.2rem, -1rem);
}
