.inputWithButton {
  position: relative;
  display: flex;
  align-items: center;
}

.inputWithButton > input {
  width: 100%;
  height: 2rem;
  padding-right: 60px;
  border-radius: 8px;
  background-color: #fff4c7;
  border: 2px solid #310055;
  color: #310055;
  box-shadow: 3px 3px 5px -1px #320055b8;
}

.inputWithButton > div {
  margin-right: 0.3rem;
  position: absolute;
  right: 0;
  padding-right: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}

.x-mark {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #310055;
}

.search-svg {
  cursor: pointer;
  color: #310055;
}
