.details-container {
  margin: 6rem 2rem 2rem 2rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9c80e;
}

.details-container img {
  /* object-fit: contain; */
  max-width: 60%;
  max-height: 100%;
  height: auto;
  margin-left: 2rem;
  border-radius: 10px;
  box-shadow: 8px 8px 5px -1px #320055b8;
}

.details-info {
  height: 70vh;
  /* min-width: fit-content; */

  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2rem;
  margin-right: 2rem;
  text-shadow: 5px 5px 5px #150024;
}

.details-info > div {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.details-info > button {
  margin-top: 1rem;
  border-color: #320055;
  background-color: #f72585;
  border-radius: 5px;
  color: #f9c80e;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 4px 4px 5px -1px #320055b8;
}

.details-info > button:hover {
  background-color: #f9c80e;
  color: #320055;
  box-shadow: 8px 8px 8px -1px #320055b8;
}

.img-container {
  height: 100%;
  width: 100%;
}
