.error-info {
  color: #ea3546;
}
.warn-info {
  color: #753bbd;
}

.create-form {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  /*   grid-template-columns: 20vw 40vh 15vw 25vh;
  grid-template-areas:
    "a b c d"
    "e f c d"
    "g h c d"
    "i j c d"
    "k l c d"
    "m n o p"; */
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

/* .c {
  grid-area: c;
}
.d {
  grid-area: d;
}
.p {
  grid-area: p;
} */

.error-hidden {
  visibility: hidden;
}

.create-content-container {
  justify-content: center;
  background-color: #e7a8f0;
  border-radius: 1rem;
  margin: 6rem 1rem 2.5rem 1rem;
}
.create-content-container > h1 {
  text-align: center;
  color: #753bbd;
}

.create-container input {
  border-radius: 5px;
  margin-right: 5px;
  background-color: #fff4c7;
  border: 2px solid #310055;
  color: #310055;
  box-shadow: 3px 3px 5px -1px #320055b8;
}

.create-form label {
  justify-self: end;
}

.create-form > div {
  margin-left: 1.5rem;
}

.hidden-dumb {
  visibility: hidden;
}

.create-form input:focus::placeholder {
  color: transparent;
}
.button-form {
  width: 150px;
  height: 2rem;
}
.submit-form {
  margin-bottom: 0.5rem;
}
.reset-form {
  margin-top: 0.5rem;
}
.temperament-info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}
.temperament-warn {
  height: 4.2rem;
  text-align: right;
}

.x-mark-temperament {
  margin-right: 0.3rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #ea3546;
}

.temperament-selected {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.temperament-selected-container {
  height: 150px;
}

.select-temperaments {
  background-color: #fff4c7;
  color: #310055;
  border-radius: 5px;
  border: 2px solid #310055;
  box-shadow: 3px 3px 5px -1px #320055b8;
}

.buttons-create-container > input {
  background-color: #f9c80e;
  border-radius: 5px;
  color: #745c06;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out;
}

.buttons-create-container > input:hover {
  background-color: #feecab;
  box-shadow: 6px 6px 8px -1px #320055b8;
}
